<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>input</h1>
    <form action="/post_location" method="post">
     <label>Key</label>
        <input id="key" type="text" name="key"/><br />

        <label>place_name</label>
        <input id="place_name" type="text" name="place_name" /><br />

        <label>admin_name1</label>
        <input id="admin_name1" type="text" name="admin_name1" /><br />

        <label>latitude</label>
        <input id="latitude" type="text"  name="latitude"/><br />

        <label>longitude</label>
        <input id="longitude" type="text"  name="longitude"/><br />

        <label>accuracy</label>
        <input id="accuracy" type="text" name="accuracy" /><br />
        <input type="submit" /> 





    </form>
</body>
</html>